<!DOCTYPE html>
<html>
    <body>
        {% block content %}
        {% if todo %}
        <div name="id">{{ todo.id }}</div>
        <div name="toDo">{{ todo.toDo }}</div>
        <div name="pub_date">{{ todo.pub_date }}</div>
        <div name="author">{{ todo.author }}</div>
        {% else %}
        <h1>없음</h1>
        {% endif %}
        {% endblock %}
        <a href="{% url 'toDo:index' %}">목록보기</a>
        <a href="{% url 'toDo:modify' todo.id %}">수정하기</a>
        <a href="{% url 'toDo:delete' todo.id %}">삭제하기</a>
    </body>
</html>