<!DOCTYPE html>
<html>
    <body>
        {% block content %}
        {% if todo %}
        <form action="{% url 'toDo:modifytoDo' todo.id %}" method="POST">
            {% csrf_token %}
            <div>글번호<div name="id">{{ todo.id }}</div></div>
            <div>Todo : <input type="text" name="toDo" value="{{ todo.toDo }}"></div>
            <div name="pub_date">{{ todo.pub_date }}</div>
            <div name="author">{{ todo.author }}</div>
            <input type="submit" value="수정" />
        </form>
        {% else %}
        <h1>없음</h1>
        {% endif %}
        {% endblock %}
        <a href="{% url 'toDo:index' %}">목록보기</a>
        <a href="{% url 'toDo:detail' todo.id %}">돌아가기</a>

    </body>
</html>